<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{jasmine_css}}" />
{{#each jasmine_js}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}
{{#each vendor_js}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}
{{#each files}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}

<script type"text/javascript" src="{{spec_runner}}"></script>
</head>
<body>
  
</body>
</html>
