<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{jasmineCss}}" />
{{#each jasmineJs}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}
{{#each vendorJs}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}
{{#each files}}
  <script type="text/javascript" src="{{this}}"></script>
{{/each}}

<script type"text/javascript" src="{{specRunner}}"></script>
</head>
<body>
  
</body>
</html>
